/* Container styling */
.about-container {
	background: radial-gradient(circle at 50% -20%, #292929, #242424, #1f1f1f, #1a1a1a, #161616, #101010, #090909, #000000);
	height: 100vh; /* Full height of the viewport */
	display: flex;
	flex-direction: column;
	overflow: scroll;
	padding-bottom: 20px;
}

/* Content Wrapper */
.about-content-wrapper {
	width: 80%;
	margin: auto;
	text-align: center;
}

/* Title styling */
.about-title {
	font-size: 72px;
	font-weight: 500;
	background-image: radial-gradient(
		92% 75% at 18.2% 90.5%,
		rgb(255, 216, 121) 0%,
		rgb(255, 255, 255) 100%
	);
	-webkit-background-clip: text; /* Clips the background to the text */
	-webkit-text-fill-color: transparent; /* Makes the text itself transparent to show the gradient */
	animation: slideInFromLeftAbout 1s ease-out;
}

/* Description styling */
.about-description {
	color: #fff;
	font-size: 20px;
	margin-top: 20px;
	line-height: 1.4;
	width: 60%;
	margin: auto;
	animation: slideInFromLeftAbout 1s ease-out;
}
@keyframes slideInFromLeftAbout {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/* 2nd Section Styles */
.second-section {
	text-align: center;
	padding: 40px 20px; /* Adjust padding as needed */
}

/* 4th Section Styles */
.forth-section {
	text-align: center;
	padding: 40px 20px; /* Adjust padding as needed */
}

.transform-title {
	font-size: 42px;
	font-weight: 600;
	background-image: radial-gradient(
		92% 75% at 18.2% 90.5%,
		rgb(255, 216, 121) 0%,
		rgb(255, 255, 255) 100%
	);
	-webkit-background-clip: text; /* Clips the background to the text */
	-webkit-text-fill-color: transparent; /* Makes the text itself transparent to show the gradient */
}

/* 3rd Section - Image Grid Styles */
.image-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Two columns */
	gap: 20px; /* Space between images */
	padding: 20px;
	justify-items: center; /* Center items horizontally */
	align-items: center; /* Center items vertically */
	margin: 0 14%;
}

.grid-image {
	width: 90%; /* Fixed width */
	height: 40vh; /* Fixed height */
	background: rgb(60, 61, 62);
	background: radial-gradient(
		circle,
		rgba(60, 61, 62, 0.4) 0%,
		rgba(0, 0, 0, 0.2) 49%
	);
	border-radius: 18px;
	object-fit: cover; /* Ensure images cover the specified dimensions */
	border: 1px solid rgb(60, 61, 62);
}

/* Responsive adjustments */
@media (max-width: 1200px) {
	.image-grid {
		margin: 0 10%; /* Reduce margin on smaller screens */
	}
}

@media (max-width: 992px) {
	.image-grid {
		grid-template-columns: repeat(2, 1fr); /* Ensure 2 columns */
		margin: 0 5%; /* Further reduce margin */
	}

	.grid-image {
		height: 35vh; /* Adjust height for medium screens */
	}
}

@media (max-width: 768px) {
	.image-grid {
		grid-template-columns: 1fr; /* Single column layout for small screens */
		margin: 0; /* Remove margin */
	}

	.grid-image {
		height: 30vh; /* Adjust height for small screens */
	}
}

@media (max-width: 768px) {
	.about-content-wrapper {
		margin: 0 40px;
	}
	.about-title {
		font-size: 36px; /* Adjust title size for small screens */
		text-align: left;
	}

	.about-description {
		font-size: 14px; /* Adjust description size for small screens */
		width: 100%; /* Adjust width for small screens */
		text-align: left;
	}

	.image-grid {
		grid-template-columns: 1fr; /* Single column layout for small screens */
		margin: 0; /* Remove margin */
	}

	.grid-image {
		height: 30vh; /* Adjust height for small screens */
	}
}
